---
import SunMoon from "../icons/SunMoon.astro";
---

<div class="flex flex-col gap-2 container mx-auto p-2">
  <div class="flex flex-row justify-center items-center">
    <div class="flex-1">
      <h1 class="text-xl font-bold">
        ZeroHub<span class="text-primary">Share</span>
      </h1>
    </div>
    <div class="flex-none">
      <SunMoon />
    </div>
  </div>
</div>
