---
import SettingModal from "./SettingModal.astro";
---

<div class="flex flex-col gap-2 container mx-auto p-2">
  <div class="flex flex-row justify-center items-center">
    <div class="flex-1">
      <a href="/">
        <h1 class="text-2xl font-bold">
          ZeroHub<span class="text-primary">Share</span>
        </h1>
      </a>
    </div>
    <div class="flex-none">
      <SettingModal />
    </div>
  </div>
</div>
