---
import MainLayout from "../layouts/main.astro";

import { pageTitle, pageDescription } from "../configs";
import SharePage from "../components/SharePage.svelte";
---

<MainLayout title={pageTitle} description={pageDescription}>
  <div class="flex flex-col items-center justify-center">
    <SharePage client:load client:only="svelte" />
  </div>
</MainLayout>
